:host {
  background-color: #EE731B;
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  height: 100px;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: 100px;
}

.mat-icon {
  color: white;
  font-size: 38px;
}

.mat-list-item .mat-icon {
  color: #058D38;
  font-size: 25px;
  margin-right: 20px;
}

.img-header {
  width: 250px;
}

.fa-address-card {
  color: #EE731B;
}

#cart_menu_num {
  position: absolute;
  background: #058D38;
  color: white;
  top: 0;
  left: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
