<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <a class="img-header" routerLink="">
    <img class="w-30" src="../../../../assets/images/logoHeaderSPC.png" />
  </a>

  <span fxFlex> </span>

  <div class="bg-card rounded-full border px-1" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
    fxLayoutAlign="start center">
    <input class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="¿Qué producto deseas buscar?"
      type="search" />
    <ic-icon [icIcon]="icSearch" size="35px" color="#058D38"></ic-icon>
  </div>

  <span fxFlex> </span>

  <div class="-mx-1 flex items-center">
    <button mat-icon-button class="px-1" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
      <mat-icon [icIcon]="icSearch"></mat-icon>
    </button>

    <div class="px-1" *ngIf="isLogged">
      <app-toolbar-user [displayName]="userDisplayName"></app-toolbar-user>
    </div>

    <div class="px-1" *ngIf="!isLogged">
      <button [matMenuTriggerFor]="authMenu" mat-icon-button type="button">
        <mat-icon [icIcon]="icPerson"></mat-icon>
      </button>
    </div>

    <mat-menu #authMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
      <button mat-menu-item routerLink="/iniciar-sesion">
        <span>
          <h3>Iniciar sesión</h3>
        </span>
      </button>

      <button mat-menu-item routerLink="/registrarse">
        <span>
          <h3>Registrarse</h3>
        </span>
      </button>
    </mat-menu>

    <div class="px-1">
      <button mat-icon-button routerLink="carrito" type="button">
        <mat-icon [icIcon]="icShoppingCart"></mat-icon>
        <span id="cart_menu_num" class="badge rounded-circle">
          <p>{{ cartSize }}</p>
        </span>
      </button>
    </div>

    <div class="px-1">
      <button mat-icon-button type="button" (click)="visibleSidebar2 = true">
        <mat-icon [icIcon]="icMenu"></mat-icon>
      </button>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
  <mat-list *ngFor="let itemMenu of menu">
    <div mat-subheader>{{ itemMenu.name }}</div>
    <mat-list-item *ngFor="let item of itemMenu.children">
      <button type="button" [routerLink]="item.router">
        <mat-icon [icIcon]="item.icon"></mat-icon>{{ item.name }}
      </button>
    </mat-list-item>
  </mat-list>
</p-sidebar>