<app-carousel-home></app-carousel-home>

<h1>Categorías Principales</h1>
<main class="page-content">
    <div class="card">
        <div class="content">
            <h2 class="title">FRUTAS</h2>
            <p class="copy">El consumo de frutas es vital para estar sanos, mantener una alimentación saludable y
                balanceada, y para el buen funcionamiento del tránsito intestinal. Aportan innumerables beneficios.
                <button class="btn" [routerLink]="['/productos/frutas']">Ver Productos</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">HORTALIZAS</h2>
            <p class="copy">Las hortalizas son alimentos muy nutritivos y saludables que se destacan, sobre todo, por su
                elevado contenido en agua, vitaminas, minerales y fibra. Por ello, ayudar a reducir el riesgo de padecer
                enfermedades crónicas.</p>
            <button class="btn" [routerLink]="['/productos/hortalizas']">Ver Productos</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">TUBÉRCULOS</h2>
            <p class="copy">Los tubérculos son muy nutritivos ya que contienen fitoquímicos que actúan como
                antióxidantes y estos
                nos protegen contra los radicales libres, es decir nos ayudan a desintoxicar nuestro cuerpo. </p>
            <button class="btn" [routerLink]="['/productos/tuberculos']">Ver Productos</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">HIERBAS Y AROMÁTICAS</h2>
            <p class="copy">Contienen propiedades antimicrobianas, antifúngicas y antioxidantes.
                Además, son una forma de agregar sabor, olor, y vitaminas y minerales a nuestros platos.</p>
            <button class="btn" [routerLink]="['/productos/hierbas']">Ver Productos</button>
        </div>
    </div>
</main>

<p-carousel [value]="products" [numVisible]="4" [numScroll]="4" [autoplayInterval]="7000" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h1>Productos Destacados</h1>
    </ng-template>
    <ng-template let-products pTemplate="item">
        <app-product-card [product]="products"></app-product-card>
    </ng-template>
</p-carousel>