<app-carousel-home></app-carousel-home>

<h1>Categorías Principales</h1>
<main class="page-content">
    <div class="card">
        <div class="content">
            <h2 class="title">FRUTAS</h2>
            <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the
                mountains</p>
            <button class="btn" [routerLink]="['/productos/frutas']" >Ver Productos</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">HORTALIZAS</h2>
            <p class="copy">Plan your next beach trip with these fabulous destinations</p>
            <button class="btn" [routerLink]="['/productos/hortalizas']" >Ver Productos</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">TUBÉRCULOS</h2>
            <p class="copy">It's the desert you've always dreamed of</p>
            <button class="btn" [routerLink]="['/productos/tuberculos']" >Ver Productos</button>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">HIERBAS Y AROMÁTICAS</h2>
            <p class="copy">Seriously, straight up, just blast off into outer space today</p>
            <button class="btn" [routerLink]="['/productos/hierbas']" >Ver Productos</button>
        </div>
    </div>
</main>

<p-carousel [value]="products" [numVisible]="4" [numScroll]="4" [autoplayInterval]="7000"
    [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h1>Productos Destacados</h1>
    </ng-template>
    <ng-template let-products pTemplate="item">
        <app-product-card [product]="products"></app-product-card>
    </ng-template>
</p-carousel>