<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
   <!--  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
      <mat-icon [icIcon]="icMenu"></mat-icon>
    </button>
  
    <a *ngIf="isVerticalLayout$ | async"
       [routerLink]="['/']"
       class="ltr:mr-4 rtl:ml-4 block"
       fxLayout="row"
       fxLayoutAlign="start center">
      <img class="w-8 select-none" src="assets/img/demo/logo.svg">
      <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">VEX</h1>
    </a>
  
    <span fxFlex></span>
  
    <div class="-mx-1 flex items-center">
      <div class="px-1">
        <button (click)="openSearch()" mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>
      </div>
  
      <div class="px-1">
        <vex-toolbar-notifications></vex-toolbar-notifications>
      </div>
  
      <div class="px-1">
        <button (click)="openQuickpanel()" mat-icon-button type="button">
          <mat-icon [icIcon]="icBookmarks"></mat-icon>
        </button>
      </div>
  
      <div class="px-1">
        <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
          <mat-icon [icIcon]="emojioneUS"></mat-icon>
        </button>
      </div>
  
      <div class="px-1">
        <vex-toolbar-user></vex-toolbar-user>
      </div>
  
      <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
        <button mat-menu-item>
          <mat-icon [icIcon]="emojioneUS"></mat-icon>
          <span>English</span>
        </button>
  
        <button mat-menu-item>
          <mat-icon [icIcon]="emojioneDE"></mat-icon>
          <span>German</span>
        </button>
      </mat-menu>
    </div> -->
  </div>
  
