<ng-container *ngIf="loading; else elseLoading">
  <spc-spinner></spc-spinner>
</ng-container>

<ng-template #elseLoading>
  <div class="h-full flex flex-col mb-5">
    <div class="px-gutter pt-20 pb-20 bg-accent-light flex-none">
      <div class="flex items-center" vexContainer>
        <button (click)="openMenu()" @scaleIn class="sm:hidden text-accent text-3xl" mat-icon-button type="button">
          <mat-icon [icIcon]="icMenu"></mat-icon>
        </button>

        <h2 class="headline text-primary-contrast m-0 flex items-center w-full max-w-xs">
          <h1 @fadeInRight class="block text-accent text-5xl">MIS PEDIDOS</h1>
        </h2>

        <div
          class="hidden sm:flex items-center bg-card rounded-full overflow-hidden relative ltr:pl-5 rtl:pr-5 h-12 max-w-md w-full shadow-8 mx-auto">
          <ic-icon [icon]="icSearch" class="text-secondary flex-none" size="24px"></ic-icon>
          <input [formControl]="searchCtrl"
            class="border-0 h-12 outline-none ltr:pl-4 rtl:pr-4 placeholder:text-secondary bg-card flex-auto"
            placeholder="Buscar pedido..." type="text" />
        </div>
      </div>
    </div>

    <div class="-mt-14 pt-0 overflow-hidden flex" vexContainer>

      <mat-drawer-container class="bg-transparent flex-auto flex">
        <mat-drawer [(opened)]="menuOpen" mode="over">
          <spc-orders-table-menu [ordersData]="tableData" (filterChange)="setData($event)" class="sm:hidden">
          </spc-orders-table-menu>
        </mat-drawer>
        <mat-drawer-content class="p-gutter pt-0 flex-auto flex items-start">
          <spc-orders-table-menu [ordersData]="tableData" (filterChange)="setData($event)" class="hidden sm:block mr-6">
          </spc-orders-table-menu>

          <div class="card h-full overflow-hidden flex-auto">
            <spc-orders-table-data (openOrderDetail)="openOrderDetails($event)" [columns]="tableColumns"
              [data]="tableData" [searchStr]="searchStr$ | async" [userType]="typeUser"></spc-orders-table-data>
          </div>
        </mat-drawer-content>

      </mat-drawer-container>
    </div>
  </div>
</ng-template>