<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <h1 class=" mt-0 mb-1">Lista de Peticiones, Quejas y Reclamos</h1>
                <vex-breadcrumbs [crumbs]="['Buzón PQR']"></vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

        <div class="card overflow-auto -mt-16">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <span *ngIf="selection.isEmpty()">Solicitudes de usuarios</span>
                </h2>

                <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxLayout="row"
                    fxLayoutAlign="start center">
                    <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                    <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                        placeholder="Buscar solicitud..." type="search">
                </div>

                <span fxFlex></span>

                <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                    matTooltip="Filtrar Columnas" type="button">
                    <mat-icon [icIcon]="icFilterList"></mat-icon>
                </button>
            </div>

            <table class="text-center" [dataSource]="dataSource" class="w-full" mat-table matSort>

                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                    <ng-container *ngIf="column.property === 'description'; else elseTemplate"
                        [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell #tooltip="matTooltip"
                            [matTooltip]="row[column.property]">
                            {{ row[column.property] | slice:0:60 }}
                            {{ (row[column.property].length > 61) ? '...' : ''}}
                        </td>
                    </ng-container>

                    <ng-template #elseTemplate>
                        <ng-container *ngIf="column.property === 'date'" [matColumnDef]="column.property">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}
                            </th>
                            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                                {{ row[column.property] | date: 'd/M/yy' }}
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.property === 'answer'" [matColumnDef]="column.property">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}
                            </th>
                            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                                <div class="flex">
                                    <div class="flex" *ngIf="row[column.property] !== 'Pendiente'">
                                        <a (click)="$event.stopPropagation()"
                                            class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-green bg-green-light"
                                            matTooltip="SOLICITUD RESPONDIDA" mat-icon-button>
                                            <mat-icon [icIcon]="icAnswer" size="22px"></mat-icon>
                                        </a>
                                        <mat-icon
                                            class="w-8 h-8 leading-none flex items-center justify-center text-green"
                                            [icIcon]="icCheck" size="22px"></mat-icon>
                                    </div>

                                    <div class="flex" *ngIf="row[column.property] === 'Pendiente'">
                                        <a (click)="$event.stopPropagation()"
                                            class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-red bg-red-light"
                                            matTooltip="SOLICITUD SIN RESPUESTA" mat-icon-button>
                                            <mat-icon [icIcon]="icWithoutAnswer" size="22px"></mat-icon>
                                        </a>
                                        <mat-icon class="w-8 h-8 leading-none flex items-center justify-center text-red"
                                            [icIcon]="icNot" size="22px"></mat-icon>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container
                            *ngIf="column.type === 'text'  && column.property !== 'answer' && column.property !== 'date'"
                            [matColumnDef]="column.property">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}
                            </th>
                            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}
                            </td>
                        </ng-container>
                    </ng-template>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr (click)="openRequestDetailDialog(row)" *matRowDef="let row; columns: visibleColumns;"
                    class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
            </table>

            <div *ngIf="loading">
                <spc-spinner></spc-spinner>
            </div>

            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0">
            </mat-paginator>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
        class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>