<div @stagger>
    <div @fadeInUp class="bg-card py-16 px-gutter footer">
      <h2 class="display-1 mt-0 mb-4 text-center">¿Tienes alguna duda?</h2>
      <h3 class="subheading-2 text-hint text-center  max-w-lg mx-auto m-0">
        Si deseas contactarte con nosotros tienes los siguientes datos para que en el menor
        tiempo posible podamos resolver las inquietudes que tengas
      </h3>
  
      <div class="mt-16 max-w-3xl mx-auto flex flex-col md:flex-row">
        <a class="text-center p-6 border rounded md:w-1/2 md:mx-2"
           routerLinkActive>
          <ic-icon [icon]="icPhoneInTalk" class="text-hint" size="42px"></ic-icon>
          <h3 class="title mb-0 mt-4">+57 (350) 281-1412</h3>
          <h4 class="subheading-2 m-0 text-hint">Llámanos a este número para despejarte de dudas más rápido</h4>
        </a>
  
        <a class="text-center p-6 border rounded md:w-1/2 md:mx-2"
           routerLinkActive>
          <ic-icon [icon]="icMail" class="text-hint" size="42px"></ic-icon>
          <h3 class="title mb-0 mt-4">proyectspcudec@gmail.com</h3>
          <h4 class="subheading-2 m-0 text-hint">Contáctanos por medio de este correo para resolver inquietudes</h4>
        </a>
      </div>
    </div>
  </div>
  