<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h3 class="headline m-0" fxFlex="auto">
        Elección de transportador para el pedido
    </h3>

    <button class="text-secondary" type="button" mat-dialog-close mat-icon-button>
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content class="mt-5 mb-5 sm:mt-4" fxLayout="column">
    <div class="mb-5" fxLayout="column" fxLayoutALign="center center">
        <p class="mb-4">Buscar transportadores por municipio</p>
        <mat-form-field appearance="fill">
            <mat-label>Seleccionar municipios</mat-label>
            <mat-select [formControl]="municipality" multiple (selectionChange)="filterCarriers()">
                <mat-select-trigger>
                    {{municipality.value[0]}}
                    <span *ngIf="(municipality.value?.length || 0) > 1">
                        (+{{ (municipality.value?.length || 0) - 1 }}
                        {{ municipality.value?.length === 2 ? "municipio" : "municipios" }})
                    </span>
                </mat-select-trigger>

                <mat-option *ngFor="let municipality of municipalities" [value]="municipality.name">{{
                    municipality.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="loading">
        <spc-spinner></spc-spinner>
    </div>

    <div class="mb-5" *ngIf="carriers[0] && carriers.length > 0">
        <p class="mb-4">Elige al transportador que más se ajuste al pedido</p>

        <mat-accordion *ngFor="let data of carriers">
            <mat-expansion-panel style="background-color: #d8cca3">
                <mat-expansion-panel-header fxLayoutAlign="space-around center">
                    <mat-panel-title>
                        <mat-radio-button (change)="onChange($event)" [value]="data.carrier?.uid">{{
                            data.carrier?.names + " " + data.carrier?.lastnames }}
                        </mat-radio-button>
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon [icIcon]="icShipping"></mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div fxLayout="column" fxLayoutAlign="center">
                    <h3 class="text-center">INFORMACIÓN RUTAS</h3>
                    <p-carousel [value]="data.routes" [numVisible]="1" [numScroll]="1" [circular]="false">
                        <ng-template let-route pTemplate="item">
                            <div class="p-4" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center"
                                fxLayoutAlign.lt-sm="center">
                                <p>Origen: <strong>{{ route.origin }}</strong></p>
                                <p>Destino: <strong>{{ route.destination }}</strong></p>
                                <p>Hora de inicio: <strong>{{ route.startHour }}</strong></p>
                            </div>
                            <div class="p-4" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly start"
                                fxLayoutAlign.lt-sm="start">
                                <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="center center">
                                    <p class="text-red font-bold p-3">Ruta</p>
                                    <ul class="text-accent" *ngFor="let r of route.routes">
                                        <li>
                                            {{ r }}
                                        </li>
                                    </ul>
                                </div>
                                <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="center center">
                                    <p class="text-red font-bold p-3">Días de servicio</p>
                                    <ul class="text-accent" *ngFor="let day of route.serviceDays">
                                        <li>{{ day }}</li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>

                <h3 class="text-center">INFORMACIÓN VEHÍCULO</h3>
                <div class="p-4" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
                    <div fxLayout="column">
                        <p class="text-red font-bold p-3">{{ data.vehicle[0].vehicleType }}</p>
                        <p class="text-red font-bold p-3">Capacidad máxima {{ data.vehicle[0].maxCapacity }} kg.</p>
                    </div>
                    <img [src]="data.vehicle[0].image" alt="Imagen vehículo" class="w-48 object-cover">
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <mat-dialog-actions class="mt-4" fxLayoutAlign="end" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <button color="accent" mat-raised-button type="submit" (click)="onSelectCarrier()"
            [disabled]="!carriers[0] || carriers.length <= 0 || !selectedValue">
            ASIGNAR TRANSPORTADOR
        </button>
        <button mat-stroked-button mat-dialog-close color="warn" type="button">
            CANCELAR
        </button>
    </mat-dialog-actions>
</mat-dialog-content>