<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto" style="margin-bottom: 60px;">
        <div class="card">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Información medios de pago registrados</h2>
            </div>
            <div class="px-gutter py-4 border-b">
                <h5>¡Productor! recuerda que debes contar como mínimo con un medio de pago, el cual permita que los
                    consumidores puedan realizar el respectivo pago de sus pedidos.</h5>

                <div class="px-gutter py-9">

                    <div class="py-1" fxLayoutAlign="end">
                        <button class="ltr:ml-4 rtl:mr-4" color="primary" fxFlex="none" mat-raised-button type="button">
                            <ic-icon [icIcon]="icAttachMoney" class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                                inline="true" size="20px"></ic-icon>
                            <span>AÑADIR MEDIO DE PAGO</span>
                        </button>
                    </div>
                    <div class="card overflow-hidden">
                        <div class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative" matRipple>
                            <img src="../../../../assets/img/logoSPC.png" class="avatar h-24 w-24 mx-auto">

                            <h2 class="title mb-1 mt-3">NOMBRE MEDIO DE PAGO</h2>
                            <div class="body-2 text-secondary">
                                <ic-icon [icon]="icPhone" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                                <span>Teléfono</span>
                            </div>

                            <div class="body-2 text-secondary">
                                <ic-icon [icon]="icWeb" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                                <span>Número identificación</span>
                            </div>
                        </div>

                        <div class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">
                            <button class="text-secondary" mat-icon-button type="button">
                                <mat-icon [icIcon]="icEdit"></mat-icon>
                            </button>

                            <button class="text-secondary" mat-icon-button type="button">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>