.cart-title {
    font: bold;
}

.img-product {
    width: 100px;
    border-radius: 10px;
    box-shadow: 11px;
}

.pending {
    color: orange
}

.delivered {
    color: green
}

.paid {
    color: yellow
}
