<mat-card class="card m-10 overflow-hidden shadow-2xl">
  <mat-card-header class="mb-3" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column"
    fxLayoutGap="10px">
    <mat-card-title>
      {{ order.orderDate.toDate() | date: 'dd/MM/yyyy'}}
    </mat-card-title>

    <div class="status-container">
      <div styleclass=" mb-3" [ngClass]="{
            'pending': order.status.includes('Pendiente'),
            'paid': order.status.includes('Pagado'),
            'cancelled': order.status.includes('Cancelado'),
            'preparing': order.status.includes('En camino'),
            'delivered': order.status.includes('Entregado')
          }">{{ order.status }}</div>
    </div>
    <div class="card-total">
      ${{ order.total | number | money }}
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p-carousel [value]="order.products" [numVisible]="1" [numScroll]="1" [circular]="false">
      <ng-template let-product pTemplate="item">
        <div class="products-container" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayout.lt-sm="column">
            <img [src]="product.image" alt="Imagen producto pedido" class="img-order">
            <ul class="product-info text-accent">
              <li>{{ product.name }}</li>
              <li>{{ product.quantity + " " + product.unit | lowercase }}<span *ngIf="product.quantity > 1">s</span>
              </li>
              <li>$ {{ product.subtotal | number | money }}</li>
            </ul>
          </div>
        </div>
      </ng-template>
    </p-carousel>

    <div class="chosen-payment-container" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img [src]="order.chosenPayment.image" class="img-order mb-5">
      <p><span>Medio de pago:</span> {{ order.chosenPayment.name }}</p>
      <p><span>Teléfono:</span> {{ order.chosenPayment.phone }}</p>
      <p><span>Identificación:</span> {{ order.chosenPayment.identification }}</p>
      <p><span>Total a pagar:</span> ${{ order.total | number | money }}</p>
    </div>

    <div class="users-container" fxLayoutAlign="space-around stretch" fxLayout="column">
      <!-- Info productor -->
      <div>
        <h3 class="text-primary text-bold">Productor a cargo del pedido: </h3>
        <p>{{ producer?.names + ' ' + producer?.lastnames }}</p>
      </div>

      <!-- Info transportador -->
      <div>
        <h3 class="text-primary text-bold">Transportador asignado: </h3>
        <p>Pendiente por asignar</p>
      </div>

    </div>
  </mat-card-content>
</mat-card>