<mat-card class="card m-10 overflow-hidden shadow-13">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-title fxLayoutAlign="start" class="cart-title">
      {{ order.orderDate.toDate() | date: 'dd/MM/yyyy'}}
    </mat-card-title>
    <div fxLayoutAlign="center">
      <p class="status-text" [ngClass]="{
            'pending': order.status.includes('Pendiente'),
            'paid': order.status.includes('Pagado'),
            'delivered': order.status.includes('Entregado')
          }">{{ order.status }}</p>
    </div>
    <div fxLayoutAlign="end">
      TOTAL: ${{ order.total }}
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="products-container" fxLayoutAlign="center center" fxLayout="column">
      <div *ngFor="let product of order.products">
        <div fxLayout="row">
          <img [src]="product.image" alt="Imagen producto pedido" class="img-order">
          <ul class="product-info">
            <li><span>Nombre:</span> {{ product.name }}</li>
            <li><span>Cantidad:</span> {{ product.quantity }}</li>
            <li><span>Subtotal:</span> $ {{ product.subtotal }}</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="users-container" fxLayoutAlign="center center" fxLayout="column">
      <!-- Info productor -->
      <div class="producer" *ngIf="user !== 'productor' && producer">
        <h2>Datos productor: </h2>
        <br>
        <p>{{ producer.names + ' ' + producer.lastnames }}</p>
      </div>
      <!-- Info consumidor -->
      <div class="consumidor" *ngIf="user !== 'consumidor' && consumer">
        <h2>Datos consumidor: </h2>
        <br>
        <ul>
          <li><span>Nombre: </span>{{ consumer.names + ' ' + consumer.lastnames }}</li>
          <li><span>Teléfono: </span>{{ consumer.phone }}</li>
          <li><span>Municipio residencia: </span>{{ consumer.municipality }}</li>
        </ul>
        <br>
        <button mat-menu-item color="accent" mat-raised-button
          (click)="openDetailDialog(consumer.names + ' ' + consumer.lastnames, order.address)">
          Ver dirección
        </button>
      </div>
      <!-- Info transportador -->
      <ng-container *ngIf="order.idCarrier; then thenTemplate; else elseTemplate">
      </ng-container>
      <ng-template #thenTemplate>
        <h2>Datos transportador: </h2>
        <div class="transportador" *ngIf="user !== 'transportador' && carrier">
          <br>
          <ul>
            <li><span>Nombre: </span>{{ carrier.names + ' ' + carrier.lastnames }}</li>
            <li><span>Teléfono: </span>{{ carrier.phone }}</li>
            <li><span>Municipio residencia: </span>{{ carrier.municipality }}</li>
          </ul>
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="transportador" *ngIf="user !== 'transportador'">
          <h2>Datos transportador: </h2>
          <br>
          <p>No asignado</p>
        </div>
      </ng-template>
    </div>
    <!-- Estado productivo -->
    <div *ngIf="user !== 'consumidor' && consumer" fxLayout="column" fxLayoutAlign="center center">
      <h4>Cambiar el estado del pedido</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{ order.status }}</mat-label>
        <mat-select>
          <mat-option *ngFor="let paymentStatus of paymentsStatus" [value]="paymentStatus">
            {{paymentStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="chosen-payment-container" fxLayout="column" fxLayoutAlign="center center">
      <img [src]="order.chosenPayment.image" class="img-order">
      <div>
        <p class="payment-name">{{ order.chosenPayment.name }}</p>
        <div *ngIf="producer">
          <p><span>Telefono:</span> {{ order.chosenPayment.phone }}</p>
          <p><span>Identificación:</span> {{ order.chosenPayment.identification }}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>