<div class="bg-pattern w-full h-full forgot-container" fxLayout="column" fxLayoutAlign="center center">
    <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
      <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
        <div class="fill-current text-center">
          <img class="w-30" src="../../../../assets/img/logoSPC.png">
        </div>
      </div>
  
      <div class="text-center mt-4">
        <h2 class="title m-0">Recuperar contraseña</h2>
        <h4 class="body-1 text-secondary m-0">Ingresa tu correo.</h4>
      </div>
  
      <div [formGroup]="form" class="p-6 flex flex-col">
        <mat-form-field>
          <mat-label>Correo</mat-label>
  
          <mat-icon [icIcon]="icMail" class="mr-2" matPrefix></mat-icon>
          <input formControlName="email" matInput required>
          <mat-error *ngIf="form.get('email').hasError('required')">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
            Digita un correo electrónico válido...
          </mat-error>
        </mat-form-field>
  
        <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button" [disabled]="form.invalid">
          ENVIAR
        </button>
      </div>
    </div>
  </div>
  