<div class="container py-gutter">
  <div class="card overflow-hidden">
    <div class="h-20 flex items-center bg-app-bar" fxLayoutAlign="center center">
      <h1 @fadeInRight class="headline text-contrast-black m-0">MIS RUTAS</h1>
    </div>
    <div class="h-56 relative overflow-hidden">
      <img class="w-full h-full object-cover" src="./assets/illustrations/carrier.jpeg" alt="Banner Transportador">
    </div>

    <div *ngIf="loading">
      <spc-spinner></spc-spinner>
    </div>
    
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
      <h3 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
        <span>Transportador en esta sección podrás verificar las rutas de trabajo que asociaste a tu perfil</span>
      </h3>

      <span fxFlex></span>

      <button (click)="createRoute()" class="ml-4" color="accent" fxFlex="none" mat-mini-fab
        matTooltip="Vincular una nueva finca" type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>
    </div>

    <div class="px-gutter py-9">
      <vex-scrollbar class="relative">
        <table [dataSource]="dataSource" #sort="matSort" mat-table matSort>

          <ng-container matColumnDef="route.origin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Origen </th>
            <td mat-cell *matCellDef="let element">
              <h4><strong>{{element.origin}}</strong></h4>
            </td>
          </ng-container>

          <ng-container matColumnDef="route.destination">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
            <td mat-cell *matCellDef="let element">
              <h4><strong>{{element.destination}}</strong></h4>
            </td>
          </ng-container>

          <ng-container matColumnDef="route.startHour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora de servicio </th>
            <td mat-cell *matCellDef="let element">
              <h4><strong>{{element.startHour}}</strong></h4>
            </td>
          </ng-container>

          <ng-container matColumnDef="route.serviceDays">
            <th mat-header-cell *matHeaderCellDef> Días de servicio </th>
            <td mat-cell *matCellDef="let element">
              <button mat-menu-item color="primary" mat-icon-button
                (click)="openDetailDialog('Días en lo que opera la ruta: ', element.serviceDays)">
                <mat-icon [icIcon]="icDay" matTooltip="Ver más"></mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="route.route">
            <th mat-header-cell *matHeaderCellDef> Municipios de parada </th>
            <td mat-cell *matCellDef="let element">
              <button mat-menu-item color="accent" mat-icon-button
                (click)="openDetailDialog('Municipios por los que pasa la ruta: ', element.routes)">
                <mat-icon [icIcon]="icMap" matTooltip="Ver más"></mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Editar ruta</th>
            <td mat-cell *matCellDef="let element">
              <button mat-menu-item mat-icon-button (click)="updateRoute(element)">
                <mat-icon [icIcon]="icEdit"></mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Eliminar ruta</th>
            <td mat-cell *matCellDef="let element">
              <button mat-menu-item color="warn" mat-icon-button (click)="confirmDeleteDialog(element.id)">
                <mat-icon [icIcon]="icDelete"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div *ngIf="routes">
          <div *ngIf="routes.length > 0 else noroutes">
          </div>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" class="sticky left-0" showFirstLastButtons></mat-paginator>
      </vex-scrollbar>
    </div>
  </div>
</div>


<ng-template #noroutes>
  <div class="w-full p-gutter text-center">
    <img class="w-full max-w-lg mx-auto mb-4" src="./assets/illustrations/empty.png" alt="Sin Información">

    <h2 class="display-1 m-0">Ups, aún has agregado ninguna de tus rutas.</h2>
    <h3 class="text-secondary m-2">Una vez que añadas información sobre tus rutas de trabajo, aparecerá aquí.
        ¡Adelante!
    </h3>

    <div class="m-5" fxLayout="row" fxLayoutAlign="center center">
      <button (click)="createRoute()" color="primary" fxFlex="none" mat-raised-button type="button">
          <span>AÑADIR RUTA DE TRABAJO</span>
      </button>
  </div>
  </div>
</ng-template>