.mat-table {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border: 2px solid #89785383;
}

.mat-header-cell {
    background-color: #89785383;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}