<div style="height: 80px; overflow: hidden">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
        <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #058d38"></path>
    </svg>
</div>

<footer class="footer-distributed">
    <div class="footer-left">
        <img src="./assets/images/logotipos/LogoSPCv1.png" alt="Logo SPC"/>
        <br>
        <h3>NOS UNE EL AMOR POR EL <span>CAMPO CUNDINAMARQUÉS</span></h3>
    </div>

    <div class="footer-center">

        <div>
            <h1>AYUDA</h1>
            <ul class="footer-links">
                <li>
                    <a routerLink="/quienes-somos">Acerca de Nosotros</a>
                </li>
                <li>
                    <a routerLink="/contactanos">Contáctanos</a>
                </li>
                <li>
                    <a routerLink="/politicas">Nuestras Políticas</a>
                </li>
                <li>
                    <a href="/inicio/preguntas-frecuentes">Preguntas Frecuentes</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="footer-right">
        <h3>
            SÍGUENOS EN NUESTRAS REDES SOCIALES
        </h3>
        <div fxLayout="row wrap" fxLayoutAlign.lt-sm="center center"
            fxLayoutGap="12px">
            <button class="bg-facebook mt-3" mat-raised-button type="button">
                <ic-icon [icon]="faFacebook" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="20px"></ic-icon>
                <span>Facebook</span>
            </button>
        
            <button class="bg-twitter mt-3" mat-raised-button type="button">
                <ic-icon [icon]="faTwitter" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="20px"></ic-icon>
                <span>Twitter</span>
            </button>
        
            <button class="bg-instagram mt-3" mat-raised-button type="button">
                <ic-icon [icon]="faInstagram" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="20px"></ic-icon>
                <span>Instagram</span>
            </button>
        </div>
        <p class="footer-links2">
            <a routerLink="/">Inicio</a>
            |
            <a routerLink="/productos/frutas">Productos Agrícolas</a>
            |
            <a routerLink="/quienes-somos">Acerca de SPC</a>
        </p>
    </div>
</footer>
<div class="watermark">
    Copyright &copy; 2022 Johann Nicolas Nieto Cardenas & Laura Tatiana Ramos
    Villanueva. Todos los derechos reservados.
</div>