/* Cards Productos */
.card {
    border: 1px solid var(--surface-d);
    border-radius: 5px;
    margin: .5rem;
    text-align: center;
    background-image: url("/assets/illustrations/fondoc.jpg");
}

.bg-app-bar {
    background-color: #0000002f;
}

.bg-app-bar mat-icon{
    color: #058D38;
}

.available {
    color: #06FF00;
}

.harvest {
    color: #7E370C;
}