<div class="card bg-green" fxLayout="row" fxLayout.xs="column">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="assets/illustrations/checklist.svg" style="height: 168px; width: 152px" alt="checklist">
  </div>

  <div class="p-6 text-primary-contrast" fxFlex="auto">
    <h2 class="headline m-0">Administrador general</h2>
    <p class="caption m-0 opacity-75">Estas son tus novedades del día:</p>

    <div class="mt-4" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">{{ usersToVerify?.toString() }} Usuario<span *ngIf="usersToVerify === 0 || usersToVerify !== 1">s</span> pendiente<span *ngIf="usersToVerify === 0 || usersToVerify !== 1">s</span> por verificar. </span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">{{ pqrsToResponse?.toString() }} Solicitud<span *ngIf="usersToVerify === 0 || usersToVerify !== 1">es</span> pendiente<span *ngIf="usersToVerify === 0 || usersToVerify !== 1">s</span> por responder.</span>
    </div>

  </div>
</div>
