<div class="register-container" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <a routerLink=""><img class="logoSPC" src="../../../../assets/images/logotipos/logoSPC.png" /></a>
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">REGISTRO DE USUARIO</h2>
      <h4 class="body-2 text-secondary m-0">
        Regístrate completando el formulario paso a paso
      </h4>
    </div>

    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
      <ng-template matStepperIcon="edit">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="typeUserFormGroup">
        <form [formGroup]="typeUserFormGroup">
          <ng-template matStepLabel>Tipo de usuario</ng-template>

          <h2 class="title m-0">Tipo de usuario</h2>
          <div class="subheading-1">
            Selecciona el rol de usuario al que aspiras:
          </div>

          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field class="vex-flex-form-field" fxFlex="none">
              <mat-label>Selecciona una opción</mat-label>
              <mat-select formControlName="typeuser">
                <mat-option *ngFor="let typeuser of usertypesPrefixOptions" [value]="typeuser">{{ typeuser }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="typeUserFormGroup.controls.typeuser.hasError('required')">
                El tipo de usuario<strong> es requerido.</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button [disabled]="typeUserFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
              SIGUIENTE
            </button>
          </div>
        </form>
        <a fxLayoutAlign="center center" [routerLink]="['/iniciar-sesion']" class="text-prmary text-center links">¿Ya
          tienes una cuenta? Inicia sesión</a>
      </mat-step>

      <mat-step [stepControl]="generalDataFormGroup">
        <form [formGroup]="generalDataFormGroup">
          <ng-template matStepLabel>Datos Generales</ng-template>

          <h2 class="title m-0">Datos Generales</h2>
          <div class="subheading-1">
            Ingresa tus siguientes datos personales:
          </div>
          <div class="mt-2" fxLayout="row" fxLayoutGap="4px">
            <mat-form-field fxFlex="auto">
              <mat-label>Nombres</mat-label>
              <input formControlName="names" matInput required />
              <mat-icon matPrefix [icIcon]="icPerson"></mat-icon>
              <mat-error *ngIf="generalDataFormGroup.controls.email.hasError('required')">
                El nombre es<strong> obligatorio.</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="auto">
              <mat-label>Apellidos</mat-label>
              <input formControlName="lastnames" matInput required />
              <mat-icon matPrefix [icIcon]="icPerson"></mat-icon>
              <mat-error *ngIf="generalDataFormGroup.controls.email.hasError('required')">
                El apellido es<strong> obligatorio.</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mt-4" fxLayout="column">
            <mat-form-field fxFlex="auto">
              <mat-label>Correo electrónico</mat-label>
              <input formControlName="email" matInput required />
              <mat-icon matPrefix [icIcon]="icEmail"></mat-icon>
              <mat-error *ngIf="
                  generalDataFormGroup.controls.email.hasError('email') &&
                  !generalDataFormGroup.controls.email.hasError('required')
                ">
                Digita un correo electrónico válido...
              </mat-error>
              <mat-error *ngIf="generalDataFormGroup.controls.email.hasError('required')">
                El correo es<strong> obligatorio.</strong>
              </mat-error>
            </mat-form-field>

            <div class="mt-2" fxLayout="row" fxLayoutGap="4px">
              <mat-form-field>
                <mat-label>Fecha de nacimiento</mat-label>
                <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()"
                  [matDatepicker]="formDatepickerRef" formControlName="dateBirth" matInput readonly />
                <mat-icon matPrefix [icIcon]="icCalendar"></mat-icon>

                <mat-hint>Edad mínima: 15 años</mat-hint>
                <mat-datepicker #formDatepickerRef></mat-datepicker>
                <mat-error *ngIf="
                    generalDataFormGroup.controls.dateBirth.hasError('required')
                  ">
                  La fecha de nacimiento es<strong> obligatoria.</strong>
                </mat-error>
                <mat-error *ngIf="
                    generalDataFormGroup.controls.dateBirth.hasError('validAge')
                  ">
                  Para poderte registrar debes ser<strong> mayor de 15 años.</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="auto">
                <mat-label>Contraseña</mat-label>
                <input minlength="6" [type]="passwordInputType" formControlName="password" matInput required />
                <mat-icon matPrefix [icIcon]="icLock"></mat-icon>
                <button (click)="showPassword()" *ngIf="passwordInputType === 'password'" mat-icon-button matSuffix
                  type="button">
                  <mat-icon [icIcon]="icVisibility"></mat-icon>
                </button>
                <button (click)="hidePassword()" *ngIf="passwordInputType === 'text'" mat-icon-button matSuffix
                  type="button">
                  <mat-icon [icIcon]="icVisibilityOff"></mat-icon>
                </button>
                <mat-hint>Tu contraseña debe contar con al menos 6 caracteres</mat-hint>
                <mat-error *ngIf="
                    generalDataFormGroup.controls.password.hasError('required')
                  ">
                  La contraseña es<strong> obligatoria.</strong>
                </mat-error>
                <mat-error *ngIf="
                    generalDataFormGroup.controls.password.hasError('minlength')
                  ">
                  Tu contraseña debe contar con al menos 6 caracteres.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">
                ANTERIOR
              </button>
              <button [disabled]="generalDataFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                SIGUIENTE
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="especificDataFormGroup">
        <form [formGroup]="especificDataFormGroup">
          <ng-template matStepLabel>Datos Específicos</ng-template>

          <h2 class="title m-0">Datos Específicos</h2>
          <div class="subheading-1">
            Ingresa los siguientes datos que requerimos para el tipo de usuario que elegiste:
            <strong>{{ typeUserFormGroup.get("typeuser").value }}</strong>
          </div>

          <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto">
              <mat-label>Selecciona un tipo de identificación</mat-label>
              <mat-select formControlName="identificationType">
                <mat-option *ngFor="let identificationType of idTypesPrefixOptions" [value]="identificationType">{{
                  identificationType }}</mat-option>
              </mat-select>
              <mat-error *ngIf="typeUserFormGroup.controls.typeuser.hasError('required')">
                El tipo de identificación es<strong> obligatorio.</strong>
              </mat-error>
            </mat-form-field>

            <ng-container *ngIf="
                especificDataFormGroup.get('identificationType').value ===
                  'Pasaporte';
                else elseTemplate
              ">
              <mat-form-field fxFlex="auto">
                <mat-label>Identificación</mat-label>
                <input formControlName="identification" type="text" matInput required />
                <mat-icon matPrefix [icIcon]="icFeaturedVideo"></mat-icon>
                <mat-error *ngIf="
                    especificDataFormGroup.controls.identification.hasError(
                      'required'
                    )
                  ">
                  La identificación es<strong> obligatoria.</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>
            <ng-template #elseTemplate>
              <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
                <mat-label>Número de identificación</mat-label>
                <input formControlName="identification" type="number" matInput required />
                <mat-icon matPrefix [icIcon]="icFeaturedVideo"></mat-icon>
                <mat-error *ngIf="
                    especificDataFormGroup.controls.identification.hasError(
                      'required'
                    )
                  ">
                  El número de identificación es<strong> obligatorio.</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto">
              <mat-label>Celular</mat-label>
              <input minlength="6" maxlength="10" formControlName="phone" matInput required />
              <mat-icon matPrefix [icIcon]="icPhone"></mat-icon>
              <mat-error *ngIf="
                  especificDataFormGroup.controls.phone.hasError('required')
                ">
                El número de celular es<strong> obligatorio.</strong>
              </mat-error>
              <mat-error *ngIf="
                  especificDataFormGroup.controls.phone.hasError('minlength')
                ">
                Tu número de celular debe tener como mínimo 6 digitos.
              </mat-error>
              <mat-error *ngIf="
                  especificDataFormGroup.controls.phone.hasError('pattern')
                ">
                Por favor ingresa solamente valores numéricos.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
              <mat-label>Municipio de residencia</mat-label>
              <mat-select formControlName="municipality">
                <mat-option *ngFor="let municipality of municipalities" [value]="municipality.name ">
                  {{ municipality.name }}
                </mat-option>
              </mat-select>
              <mat-icon [icIcon]="icPlace" class="mr-3" matPrefix></mat-icon>
              <mat-error *ngIf="
                  especificDataFormGroup.controls.municipality.hasError(
                    'required'
                  )
                ">
                El municipio de residencia<strong> es obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">
              ANTERIOR
            </button>
            <button [disabled]="especificDataFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
              SIGUIENTE
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="confirmFormGroup">
        <form [formGroup]="confirmFormGroup">
          <ng-template matStepLabel>Hecho</ng-template>

          <div class="title m-0">
            ¡Estás a un paso de registrarte y tener el campo cundinamarqués a tu
            alcance!
          </div>
          <br />
          <div class="subheading-1">
            Para completar tu proceso exitoso de registro, debes aceptar los
            Términos y Condiciones, posteriormente darás clic en el botón
            denominado "REGISTRAR CUENTA"
          </div>

          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-checkbox class="checkbox" formControlName="terms">
              He leído y acepto los términos y condiciones de uso del sistema de
              productividad para el campo
            </mat-checkbox>
          </div>

          <br />

          <div class="actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <button (click)="submit()" [disabled]="confirmFormGroup.invalid" color="primary" mat-raised-button
              matStepperNext>
              REGISTRAR CUENTA
            </button>
          </div>
          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-button matStepperPrevious type="button">
              ANTERIOR
            </button>
            <button (click)="stepper.reset()" color="primary" mat-raised-button matStepperNext>
              REINICIAR
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>