<vex-scrollbar class="h-full relative">
    <div fxLayout="column" fxLayoutAlign="space-between">
        <table [dataSource]="dataSource" class="w-full" fxFlex="auto" mat-table matSort>
            <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                        {{ column.label }}
                    </th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                        <span *ngIf="column.property === 'id'">{{ row[column.property].slice(0,8) }}</span>
                        <span *ngIf="column.property !== 'id'">{{ row[column.property] }}</span>
                    </td>
                </ng-container>

                <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
                    <ng-container *ngIf="column.property === 'status'">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            {{ column.label }}
                        </th>
                        <td *matCellDef="let row" mat-cell>
                            <div (click)="$event.stopPropagation()"
                                [ngClass]="[row.status.textClass, row.status.bgClass]"
                                class="rounded px-2 py-1 font-medium text-sm text-center" style="display: block">
                                {{ row.status.text }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="column.property === 'menu'">
                        <th *matHeaderCellDef mat-header-cell>
                            {{ column.label }}
                        </th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
                            <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ order: row }"
                                [matMenuTriggerFor]="orderMenu" mat-icon-button type="button" *ngIf="row.status.text !== 'Entregado'">
                                <mat-icon [icIcon]="icMoreVert"></mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>

            <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>

            <tr (click)="openOrderDetail.emit(row.id)" *matRowDef="let row; columns: visibleColumns"
                class="hover:bg-hover" mat-row
                [ngClass]="[(row.limitDate <= today) ? 'bg-warn-light hover:bg-warn' : 'hover:bg-hover', 'cursor-pointer', 'transition-all']"
                ></tr>
        </table>

        <div *ngIf="dataSource.filteredData.length === 0" fxFlex="auto" fxLayout="column" fxLayoutAlign="center center">
            <img class="mt-5 h-64" src="assets/illustrations/empty-order.png" alt="Sin pedidos" />
            <h2 class="headline my-6 text-center text-secondary">
                Ups, ¡Aún no cuentas con pedidos en esta sección!<br>
                <span class="text-black text-sm">Conecta con más consumidores y haz de tu trabajo en SPC una verdadera
                    experiencia del
                    campo.</span>
            </h2>
        </div>

        <mat-paginator [fxHide]="dataSource.filteredData.length === 0" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" class="sticky bottom-0 left-0 right-0 border-t" fxFlex="none">
        </mat-paginator>
    </div>
</vex-scrollbar>

<mat-menu #orderMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-order="order" matMenuContent>
        <mat-label>Cambiar el estado del pedido a:</mat-label>
        <div *ngIf="order.status.text === 'Pendiente de pago'">
            <button class="text-green" mat-menu-item [disabled]="userType !== 'Productor'"
                (click)="confirmStatusChangeDialog('¿Estás seguro de cambiar el estado del pedido a ~Pagado~ ?', order.id, 'Pagado')">
                <mat-icon [icIcon]="icCheck" style="color: green;"></mat-icon>
                <span>Pagado</span>
            </button>
            <button class="text-red" mat-menu-item [disabled]="userType !== 'Productor'"
                (click)="confirmStatusChangeDialog('¿Estás seguro de cambiar el estado del pedido a ~Cancelado~ ?', order.id, 'Cancelado')"
                *ngIf="order.limitDate <= today">
                <mat-icon [icIcon]="icCancel" style="color: red;"></mat-icon>
                <span>Cancelado</span>
            </button>
        </div>
        <div *ngIf="order.status.text === 'Pagado'" >
            <button class="text-gray" mat-menu-item [disabled]="userType !== 'Productor'"
                (click)="confirmStatusChangeDialog('¿Estás seguro de cambiar el estado del pedido a ~En Camino~ ?', order.id, 'En camino')">
                <mat-icon [icIcon]="icSend" style="color: gray;"></mat-icon>
                <span>En camino</span>
            </button>
        </div>
        <div *ngIf="order.status.text === 'Cancelado'">
            <button class="text-red" mat-menu-item [disabled]="userType !== 'Productor'"
                (click)="confirmStatusChangeDialog('¿Estás seguro de eliminar el pedido?', order.id, 'Eliminado')">
                <mat-icon [icIcon]="icDeleteForever" style="color: red;"></mat-icon>
                <span>Eliminar pedido</span>
            </button>
        </div>
        <div *ngIf="order.status.text === 'En camino'">
            <button class="text-cyan" mat-menu-item  [disabled]="userType !== 'Transportador'"
                (click)="confirmStatusChangeDialog('¿Estás seguro de cambiar el estado del pedido a ~Entregado~ ?', order.id, 'Entregado')">
                <mat-icon [icIcon]="icWhereToVote" style="color: cyan;"></mat-icon>
                <span>Entregado</span>
            </button>
        </div>
    </ng-template>
</mat-menu>