<div *ngIf="loading">
  <spc-spinner></spc-spinner>
</div>

<div *ngIf="consumerOrders">
  <div *ngIf="consumerOrders.length > 0 else noConsumerOrders">
    <div class="container py-gutter">
      <div class="overflow-auto mt-16">
        <h1>MIS PEDIDOS REALIZADOS</h1>
        <div class="orders" *ngFor="let order of consumerOrders">
          <spc-order [order]="order" [user]="'consumidor'"></spc-order>
      </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noConsumerOrders>
  <div class="w-full p-gutter text-center">
    <img class="w-full max-w-lg mx-auto mb-0" src="./assets/illustrations/empty.png" alt="Sin información">

    <h2 class="display-1 m-0">Ups, aún no has realizado ningún pedido agrícola.</h2>
    <h3 class="text-secondary m-2">Una vez que realices tus pedidos, aparecerán aquí.
      ¡Adelante!</h3>
    <div class="m-5" fxLayout="row" fxLayoutAlign="center center">
      <button color="primary" routerLink="/" fxFlex="none" mat-raised-button type="button">
        <span>VER PRODUCTOS</span>
      </button>
    </div>
  </div>
</ng-template>