<form (ngSubmit)="save()" [formGroup]="formRoute">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 *ngIf="defaults.id" class="headline m-0" fxFlex="auto">
            Editar información ruta
        </h2>
        <h2 *ngIf="!defaults.id" class="headline m-0" fxFlex="auto">
            Vincular nueva ruta
        </h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Origen de la ruta</mat-label>
                <mat-select formControlName="origin">
                    <mat-option *ngFor="let municipality of municipalities" [value]="municipality.name">
                        {{ municipality.name }}
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icPlace" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formRoute.controls.origin.hasError('required')">
                    El municipio de origen de la ruta<strong> es obligatorio</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:ml-6 flex-auto">
                <mat-label>Destino de la ruta</mat-label>
                <mat-select formControlName="destination">
                    <mat-option *ngFor="let municipality of municipalities" [value]="municipality.name">
                        {{ municipality.name }}
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icPlace" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formRoute.controls.destination.hasError('required')">
                    El municipio de destino de la ruta<strong> es obligatorio</strong>
                </mat-error>
            </mat-form-field>

        </div>

        <div class="flex flex-col sm:flex-row">
            <mat-form-field>
                <mat-label>Hora de inicio de servicio</mat-label>
                <input #message [ngxTimepicker]="picker" type="datetime" formControlName="startHour" matInput>
                <ngx-material-timepicker #picker></ngx-material-timepicker>
                <mat-icon matPrefix [icIcon]="icPlace"></mat-icon>
                <mat-error *ngIf="formRoute.controls.startHour.hasError('required')">
                    La hora de inicio de la ruta<strong> es obligatoria</strong>
                </mat-error>
                <mat-error *ngIf="formRoute.controls.startHour.errors?.pattern">
                    La hora de inicio debe tener este formato: <strong>12:00 AM</strong>
                </mat-error>
            </mat-form-field>

        </div>
        <mat-form-field>
            <mat-label>Días de de servicio de la ruta</mat-label>
            <mat-chip-list #chipList aria-label="Días de servicio">
                <mat-chip *ngFor="let day of serviceDays" (removed)="remove(day, true)">
                    {{day}}
                    <button matChipRemove>
                        <mat-icon [icIcon]="icClose"></mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="Agregue los días en que esta ruta estará siviendo" formControlName="serviceDays"
                    #dayInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event, true)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, true)">
                <mat-option *ngFor="let day of filteredDays | async" [value]="day">
                    {{day}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon [icIcon]="icPlace" class="mr-3" matPrefix>
            </mat-icon>
            <mat-error *ngIf="formRoute.controls.serviceDays.hasError('required')">
                Escoga al menos un día para esta ruta
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Municipios de parada de la ruta</mat-label>
            <mat-chip-list #chipListM aria-label="Municipios de la ruta">
                <mat-chip *ngFor="let muni of route" (removed)="remove(muni, false)">
                    {{muni}}
                    <button matChipRemove>
                        <mat-icon [icIcon]="icClose"></mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="Agregue los municipios del trancurso de la ruta" #municipalityInput formControlName="routes"
                    [formControl]="municipalitiesCtrl" [matAutocomplete]="autom" [matChipInputFor]="chipListM" 
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event, false)">
            </mat-chip-list>
            <mat-autocomplete #autom="matAutocomplete" (optionSelected)="selected($event, false)">
                <mat-option *ngFor="let muni of filteredMunicipalities | async" [value]="muni">
                    {{muni}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon [icIcon]="icPlace" class="mr-3" matPrefix>
            </mat-icon>
            <mat-error *ngIf="formRoute.controls.routes.hasError('required')">
                El trayecto de la ruta es <strong> obligatorio</strong>
            </mat-error>
        </mat-form-field>
        <!-- <app-google-maps></app-google-maps> -->

        <mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close color="warn" type="button">
                CANCELAR
            </button>
            <button *ngIf="isCreateMode()" [disabled]="formRoute.invalid" color="accent" mat-raised-button
                type="submit">
                AÑADIR RUTA
            </button>
            <button *ngIf="isUpdateMode()" [disabled]="formRoute.invalid" color="accent" mat-raised-button
                type="submit">
                EDITAR RUTA
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</form>