<div *ngIf="vehicle">
    <div *ngIf="vehicle.length > 0 else novehicle">

        <div class="container py-gutter">
            <div class="card overflow-hidden">
                <div class="h-20 flex items-center bg-app-bar" fxLayoutAlign="center center">
                    <h1 @fadeInRight class="headline text-contrast-black m-0">MI VEHÍCULO</h1>
                </div>
                <div class="h-56 relative overflow-hidden">
                    <img class="w-full h-full object-cover" src="assets/illustrations/carrier.jpeg">
                </div>

                <div class="flex-auto">
                    <div class="card">
                        <div class="px-gutter py-4 border-b  bg-app-bar">
                            <h4 class="m-0">Transportador en esta sección podrás visualizar y actualizar la información
                                de tu
                                vehículo de
                                trabajo.</h4>
                        </div>


                        <mat-card class="px-gutter border-b" @fadeInRight *ngFor="let vehi of vehicle">
                            <mat-card-header fxLayoutAlign="start center">
                                <mat-icon class="mb-1 mt-3" style="font-size: 40px;" [icIcon]="icCar"></mat-icon>
                            </mat-card-header>
                            <mat-card-content class="mt-6" fxLayout="row" fxLayoutAlign="center center">
                                <img class="w-56" [src]="vehi.image || imageDefault">
                                <div class="ml-10 sm:ml-10">
                                    <h1 class="title mb-1 mt-3" style="text-transform: uppercase">{{ vehi.vehicleType }}
                                    </h1>
                                    <h1 class="title mb-1 mt-3" style="text-transform: uppercase">PLACA: {{
                                        vehi.licensePlate }}</h1>
                                    <p class="mt-10">Características: {{ vehi.characteristics }}</p>
                                    <p class="mt-10">Capacidad máxima de carga:  <strong>{{ vehi.maxCapacity }}</strong> Kilogramos.</p>
                                </div>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <div fxLayout="row">
                                    <span fxFlex></span>
                                    <button (click)="updateVehicle(vehi)" class="text-black" mat-icon-button
                                        type="button">
                                        <mat-icon [icIcon]="icEdit" matTooltip="Editar información vehículo">
                                        </mat-icon>
                                    </button>
                                    <button (click)="confirmDeleteDialog(vehi)" class="text-black" mat-icon-button
                                        type="button">
                                        <mat-icon [icIcon]="icDelete" matTooltip="Eliminar vehículo">
                                        </mat-icon>
                                    </button>
                                </div>
                            </mat-card-actions>
                        </mat-card>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #novehicle>
    <div class="w-full p-gutter text-center">
        <img class="w-full max-w-lg mx-auto mb-0" src="assets/illustrations/empty.png">

        <h1 class="display-1 m-0">Ups, aún no has registrado tu vehículo.</h1>
        <h2 class="text-secondary m-2">Una vez que añadas información sobre tu vehículo de trabajo, aparecerá aquí.
            ¡Adelante!
        </h2>

        <div class="m-5" fxLayout="row" fxLayoutAlign="center center">
            <button (click)="createVehicle()" color="primary" fxFlex="none" mat-raised-button type="button">
                <span>REGISTRAR VEHÍCULO</span>
            </button>
        </div>
    </div>
</ng-template>