<form (ngSubmit)="save()" [formGroup]="formFarms">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 *ngIf="defaults.id" class="headline m-0" fxFlex="auto">
            Editar información finca
        </h2>
        <h2 *ngIf="!defaults.id" class="headline m-0" fxFlex="auto">
            Vincular nueva finca
        </h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-divider class="-mx-6 text-border"></mat-divider>
    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto">
                <mat-label>Nombre de la finca </mat-label>
                <input #message minlength="5" maxlength="30" cdkFocusInitial formControlName="name" matInput />
                <mat-hint align="end">{{ message.value.length }} / 30</mat-hint>
                <mat-icon [icIcon]="icSpa" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formFarms.controls.name.hasError('required')">
                    El nombre de la finca es <strong>obligatorio.</strong>
                </mat-error>
                <mat-error *ngIf="formFarms.controls.name.hasError('pattern')">
                    El nombre de la finca solo puede contener<strong> letras.</strong>
                </mat-error>
                <mat-error *ngIf="formFarms.controls.name.errors?.minlength">
                    El nombre de la finca debe tener mínimo <strong>5 caracteres.</strong>
                </mat-error>
                <mat-error *ngIf="formFarms.controls.name.errors?.maxlength">
                    El nombre de la finca debe tener máximo <strong>20 caracteres.</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
                <mat-label>Municipio de ubicación de la finca</mat-label>
                <mat-select formControlName="municipality">
                    <mat-option *ngFor="let municipality of municipalities" [value]="municipality.name">
                        {{ municipality.name }}
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icPlace" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formFarms.controls.municipality.hasError('required')">
                    El municipio de ubicación de la finca<strong> es obligatorio.</strong>
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto">
                <mat-label>Ubicación</mat-label>
                <input #message minlength="10" maxlength="300" formControlName="location" matInput/>
                <mat-icon matPrefix [icIcon]="icDescription"></mat-icon>
                <mat-error *ngIf="formFarms.controls.location.hasError('required')">
                    La ubicación de la finca<strong> es obligatoria</strong>
                </mat-error>
                <mat-error *ngIf="formFarms.controls.location.errors?.minlength">
                    La ubicación de la finca debe ser de mínimo <strong>5 caracteres</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto">
                <mat-label>Descripción</mat-label>
                <textarea #message minlength="10" maxlength="300" formControlName="description" matInput></textarea>
                <mat-icon matPrefix [icIcon]="icDescription"></mat-icon>
                <mat-hint align="end">{{message.value.length}} / 200</mat-hint> 
                <mat-error *ngIf="formFarms.controls.description.hasError('required')">
                    La descripción de la finca<strong> es obligatoria.</strong>
                </mat-error>
                <mat-error *ngIf="formFarms.controls.description.errors?.minlength">
                    La descripción de la finca debe ser de mínimo <strong>10 caracteres.</strong>
                </mat-error>
                <mat-error *ngIf="formFarms.controls.description.errors?.maxlength">
                    La descripción de la finca debe ser de máximo
                    <strong>200 caracteres.</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <app-google-maps
            [latitude]="lat"
            [longitude]="lon"
            (coodinaterChanged)="coordinatesChanged($event)"
        ></app-google-maps>
        <div class="flex flex-col sm:flex-row mb-5">
            <mat-form-field class="mt-6 flex-auto">
                <mat-label>Latitud </mat-label>
                <input type="number" formControlName="latitude" matInput />
                <mat-icon [icIcon]="icSpa" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formFarms.controls.latitude.hasError('required')">
                    Las coordinadas de la finca son <strong>obligatorias.</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
                <mat-label>Longitud </mat-label>
                <input type="number" formControlName="longitude" matInput />
                <mat-icon [icIcon]="icSpa" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formFarms.controls.longitude.hasError('required')">
                    Las coordinadas de la finca son <strong>obligatorias.</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button *ngIf="isCreateMode()" [disabled]="formFarms.invalid" color="accent" mat-raised-button type="submit">
            VINCULAR FINCA
        </button>
        <button *ngIf="isUpdateMode()" [disabled]="formFarms.invalid" color="accent" mat-raised-button type="submit">
            EDITAR FINCA
        </button>
        <button mat-stroked-button mat-dialog-close color="warn" type="button">
            CANCELAR
        </button>
    </mat-dialog-actions>
</form>