<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs
    [crumbs]="['Dashboard', 'Resumen']"
    class="flex-auto"
  ></vex-breadcrumbs>
</vex-secondary-toolbar>

<div
  class="p-gutter"
  gdColumns="1fr 1fr 1fr 1fr"
  gdColumns.lt-md="1fr 1fr"
  gdColumns.lt-sm="1fr"
  gdGap="16px"
  vexContainer
>
  <vex-widget-assistant
    [usersToVerify]="usersToVerify"
    [pqrsToResponse]="pqrsToResponse"
    gdColumn="1 / 3"
    gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1"
  ></vex-widget-assistant>

  <vex-widget-quick-value-center
    [icon]="icGroup"
    iconClass="text-primary bg-primary-light"
    gdColumn.lt-sm="1"
    helpText="Cantidad de usuarios en SPC"
    label="Usuarios"
    [value]="usersQuantity"
  ></vex-widget-quick-value-center>

  <vex-widget-quick-value-center
    [icon]="icPageView"
    iconClass="text-orange bg-orange-light"
    gdColumn.lt-sm="1"
    helpText="Cantidad de productos"
    label="Productos"
    [value]="productsQuantity"
  ></vex-widget-quick-value-center>

  <div *ngIf="usersByTypeSeries.length > 0" gdColumn="1 / 3"
    gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1">
    <vex-widget-large-chart
      title="Gráfico de usuarios por tipo"
      [series]="usersByTypeSeries"
      [options]="usersByTypeOptions"
    >
    </vex-widget-large-chart>
  </div>

  <vex-widget-table
    [columns]="tableColumns"
    [data]="tableData"
    class="w-full overflow-auto shadow"
    gdColumn="3 / -1"
    gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1"
  ></vex-widget-table>

  <div *ngIf="productsByTypeSeries[0].data.length > 0"gdColumn="1 / -1"
    gdColumn.lt-sm="1">
    <vex-widget-large-chart
      title="Gráfico de productos por tipo"
      [series]="productsByTypeSeries"
      [options]="productsByTypeOptions"
    >
    </vex-widget-large-chart>
  </div>

<!--   <vex-widget-large-goal-chart
    [series]="salesSeries"
    gdColumn="1 / -1"
    gdColumn.lt-sm="1"
    total="4,374"
  >
  </vex-widget-large-goal-chart> -->
</div>
