<div class="mt-20 mb-20 flex flex-col md:flex-row md:items-start">
    <div class="card1 max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
        <div class="px-6 py-4 border-b">
            <h3 class="title m-0">FILTRAR POR CATEGORÍA</h3>
        </div>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-full" [routerLink]="['/productos/frutas']">
            <span>Frutas</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-full" [routerLink]="['/productos/hortalizas']">
            <span>Hortalizas</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-full" [routerLink]="['/productos/tuberculos']">
            <span>Tubérculos</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-full" [routerLink]="['/productos/granos']">
            <span>Granos</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-full" [routerLink]="['/productos/hierbas']">
            <span>Hierbas y Aromáticas</span>
        </button>
    </div>

    <div class="flex-auto md:ltr:ml-6 mt-6 md:mt-0">
        <div fxLayout="column">
            <h1 class="title m-0 mb-8">CATÁLOGO DE PRODUCTOS AGRÍCOLAS</h1>
            <div *ngIf="products" fxFlex="none">
                <div class="p-gutter" gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr 1fr" gdColumns.xs="1fr" gdGap="24px">
                    <div class="card overflow-hidden" *ngFor="let product of products">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>