h1 {
    color: #058d38;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    color: #058d38;
    font-size: 20px;
    font-weight: bold;
}

.card1 {
    background-color: #EBEBEE;
}

.menu-button {
    height: 60px;
    text-align: start;
    font-size: 18px;
    font-style: italic;
}

.menu-button:hover {
    background-color: #ccccce;
}