<div class="bg-card rounded-full border px-1" fxFlex="500px" fxFlex.lt-md="auto" fxFlex.lt-xs="auto" fxLayout="row"
    fxLayoutAlign="start center">

    <input class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="¿Qué producto deseas buscar?"
        type="search" [matAutocomplete]="auto" [formControl]="productCtrl" />
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name"
            [routerLink]="['/detalles-producto/', product.id]">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="avatar h-50 w-50 mr-5" [src]="product.image">
                <span>{{product.name}} </span>
                <ic-icon [icIcon]="icArrow" size="25px" color="#058D38"></ic-icon>
                <small>{{product.productType}}</small>
            </div>
        </mat-option>
    </mat-autocomplete>
    <ic-icon [icIcon]="icSearch" size="35px" color="#058D38"></ic-icon>
    
</div>