<div class="order-request-container mb-16">
    <h1>MI SOLICITUD DE COMPRA</h1>

    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <ng-template matStepperIcon="edit">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>

        <ng-template matStepperIcon="done">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>

        <mat-step>
            <ng-template matStepLabel>INFORMACIÓN GENERAL DEL PEDIDO</ng-template>
            <div class="mt-6 flex flex-col md:flex-row md:items-start">
                <div class="flex-auto">
                    <ng-container *ngIf="address; then thenAddress; else elseAddress"></ng-container>
                    <ng-template #thenAddress>
                        <div class="card-shipping">
                            <div class="px-gutter py-4 border-b">
                                <h2 class="title m-0">Datos de envío</h2>
                            </div>

                            <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr 1fr"
                                gdColumns.lt-lg="1fr 1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
                                <img @scaleIn src="../../../../assets/illustrations/location.webp"
                                    class="avatar w-20 h-20" />
                                <div fxLayout="column">
                                    <h3 class=" m-0">Dirección:</h3>
                                    <h5><strong>{{ address.address }}</strong></h5>
                                </div>
                                <div fxLayout="column">
                                    <h3 class=" m-0">Municipio:</h3>
                                    <h4> <strong>{{ address.municipality }}</strong></h4>
                                </div>
                                <div fxLayout="column">
                                    <h3 class=" m-0">Teléfono:</h3>
                                    <h4> <strong>{{ address.phone }}</strong></h4>
                                </div>
                                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                    <button color="primary" mat-stroked-button (click)="updateAddressInfo(address)">
                                        Cambiar dirección
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #elseAddress>
                        <div class="card-shipping">
                            <div class="px-gutter py-4 border-b">
                                <h2 class="title m-0">Agrega una direccion para que tus pedidos lleguen a la puerta de
                                    tu casa</h2>
                            </div>
                            <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr"
                                gdColumns.lt-lg="1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
                                <img @scaleIn src="../../../../assets/illustrations/location.png"
                                    class="avatar w-20 h-20" />
                                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                    <button color="primary" mat-stroked-button matStepperNext (click)="addNewAddress()">
                                        Añadir una nueva dirección
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div class="card-orders mt-4">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Pedidos por cada productor</h2>
                        </div>
                        <div @stagger class="px-gutter py-4">
                            <mat-accordion>
                                <mat-expansion-panel class="accordion" *ngFor="let order of orderRequest">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            PEDIDO N° {{ orderRequest.indexOf(order) + 1 }}
                                        </mat-panel-title>
                                        <mat-panel-description fxLayoutAlign="center center">
                                            {{ order.names + ' ' + order.lastnames | uppercase}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div @stagger class="px-gutter" gdColumns="1fr 1fr 1fr" gdColumns.lt-lg="1fr 1fr"
                                        gdColumns.xs="1fr 1fr" *ngFor="let product of order.products">
                                        <img @scaleIn class="avatar w-20 h-20" [src]="product.image" />
                                        <div class="column py-4">
                                            <h4>Producto: <strong>{{ product.name }}</strong></h4>
                                            <h4>Cantidad: <strong>{{ product.quantity }}
                                                    {{ product.unit | lowercase }}<span *ngIf="product.quantity > 1">s
                                                    </span></strong></h4>
                                        </div>
                                        <h2 class="price py-6">$ {{ product.subtotal }}</h2>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>

                <div
                    class="card-resume-order max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
                    <div class="px-6 py-4 border-b">
                        <h2 class="resume">RESUMEN PEDIDOS</h2>
                    </div>
                    <div @stagger class="px-gutter py-4">
                        <div *ngFor="let order of orderRequest">
                            <h4>Productor {{ order.names + ' ' + order.lastnames }}</h4>
                            <div @stagger class="px-gutter py-2 text-center" gdColumns="1fr 1fr"
                                gdColumns.lt-lg="1fr 1fr" gdColumns.xs="1fr 1fr" *ngFor="let product of order.products">
                                <h4><strong>{{ product.name }} </strong>({{ product.quantity }})</h4>
                                <h3>$ {{ product.subtotal }}</h3>
                            </div>
                            <br>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <h2 class="text-center mt-6 mb-6" style="font-weight: bold;"> SUBTOTAL $ {{ total }}</h2>
                </div>
            </div>

            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <button color="accent" mat-raised-button matStepperNext>
                    SIGUIENTE
                </button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>DEFINIR MEDIOS DE PAGO</ng-template>
            <div class="mt-6 flex flex-col md:flex-row md:items-start">
                <div class="flex-auto">
                    <div class="card-orders">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Medios de pago por cada productor</h2>
                        </div>
                        <div @stagger class="px-gutter py-4">
                            <mat-accordion>
                                <mat-expansion-panel class="accordion"
                                    *ngFor="let paymentMethod of paymentMethodsOrders">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            PRODUCTOR {{ paymentMethod.name | uppercase }}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <p>Estos son los medios de pago con los que cuenta este productor, debes
                                            seleccionar el método de pago a través del cual vas a realizar el pago de tu
                                            pedido.</p>
                                    </div>
                                    <mat-radio-group>
                                        <mat-radio-button *ngFor="let payment of paymentMethod.paymentMethods"
                                            [value]="payment"
                                            (change)="addPaymentSelected(payment, paymentMethod.idProducer)" checked>
                                            <div @stagger class="px-gutter mt-6 py-5" gdColumns="1fr 1fr 1fr 1fr"
                                                gdColumns.lt-lg="1fr 1fr" gdColumns.xs="1fr">
                                                <img @scaleIn class="avatar w-20 h-20" [src]="payment.image" />
                                                <div class="column p-4 text-center">
                                                    <h3>
                                                        Medio de pago:
                                                    </h3>
                                                    <h3>
                                                        <strong>{{ payment.name | uppercase }}</strong>
                                                    </h3>
                                                </div>
                                                <div class="column py-4 text-center">
                                                    <h3>Teléfono: </h3>
                                                    <h3><strong> {{ payment.phone }} </strong></h3>
                                                </div>
                                                <div class="column py-4 text-center">
                                                    <h3>Identificación: </h3>
                                                    <h3><strong>{{ payment.identification }} </strong></h3>
                                                </div>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>

                <div
                    class="card-resume-order max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
                    <div class="px-6 py-4 border-b">
                        <h2 class="resume">RESUMEN PEDIDOS</h2>
                    </div>
                    <div @stagger class="px-gutter py-4">
                        <div *ngFor="let order of orderRequest">
                            <h4>Productor {{ order.names + ' ' + order.lastnames }}</h4>
                            <div @stagger class="px-gutter py-2 text-center" gdColumns="1fr 1fr"
                                gdColumns.lt-lg="1fr 1fr" gdColumns.xs="1fr 1fr" *ngFor="let product of order.products">
                                <h4><strong>{{ product.name }} </strong>({{ product.quantity }})</h4>
                                <h3>$ {{ product.subtotal }}</h3>
                            </div>
                            <br>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <h2 class="text-center mt-6 mb-6" style="font-weight: bold;"> SUBTOTAL $ {{ total }}</h2>
                </div>

            </div>
            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <button color="accent" mat-raised-button matStepperNext>
                    SIGUIENTE
                </button>
            </div>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>REVISAR Y CONFIRMAR PEDIDO</ng-template>
            <div class="mt-6 flex flex-col md:flex-row md:items-start">
                <div class="flex-auto">
                    <ng-container *ngIf="address; then thenAddress2; else elseAddress2"></ng-container>
                    <ng-template #thenAddress2>
                        <div class="card-shipping">
                            <div class="px-gutter py-4 border-b">
                                <h2 class="title m-0">Información de envío</h2>
                            </div>
                            <div @stagger class="px-gutter py-6" gdColumns="1fr 1fr 1fr 1fr 1fr"
                                gdColumns.lt-lg="1fr 1fr 1fr" gdColumns.xs="1fr 1fr">
                                <img @scaleIn src="../../../../assets/illustrations/location.webp"
                                    class="avatar w-20 h-20" />
                                <div fxLayout="column">
                                    <h2 class=" m-0">Municipio:</h2>
                                    <h3> <strong>{{ address.municipality }}</strong></h3>
                                </div>
                                <div fxLayout="column">
                                    <h2 class=" m-0">Teléfono:</h2>
                                    <h3> <strong>{{ address.phone }}</strong></h3>
                                </div>
                                <div fxLayout="column">
                                    <h2 class=" m-0">Dirección:</h2>
                                    <h2><strong>{{ address.address }}</strong></h2>
                                </div>
                                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                    <button color="primary" mat-stroked-button (click)="updateAddressInfo(address)">
                                        Cambiar dirección
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #elseAddress2>
                        <div class="card-shipping">
                            <div class="px-gutter py-4 border-b">
                                <h2 class="title m-0">Agrega una dirección para que tus pedidos lleguen a la puerta de
                                    tu casa</h2>
                            </div>
                            <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr"
                                gdColumns.lt-lg="1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
                                <img @scaleIn src="../../../../assets/illustrations/location.png"
                                    class="avatar w-20 h-20" />
                                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                    <button color="primary" mat-stroked-button matStepperNext (click)="addNewAddress()">
                                        Añadir una nueva dirección
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <div class="card-shipping mt-6">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Información de tus pedidos</h2>
                        </div>


                        <div class="p-gutter" gdColumns="1fr 1fr 1fr 1fr" gdColumns.lt-md="1fr 1fr" gdColumns.xs="1fr"
                            gdGap="24px">

                            <div class="card-finish-order overflow-hidden" *ngFor="let order of orderRequest">
                                <div class="p-4 text-center">
                                    <img @scaleIn src="../../../../assets/illustrations/finish-order.jpg"
                                        class="avatar h-24 w-24 mx-auto">

                                    <h2 class="title mb-1 mt-3">PEDIDO N° {{ orderRequest.indexOf(order) + 1 }}</h2>
                                    <h4 class="title mb-1 mt-3">Productor {{ order.names + ' ' + order.lastnames }}</h4>
                                    <hr><br>
                                    <div class="body-2 text-primary">
                                        <ic-icon [icon]="icPayment" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                                        <span>Medio de pago elegido: <strong> {{ order.chosenPayment?.name }} </strong>
                                        </span>
                                    </div>
                                    <div class="body-2 text-secondary">
                                        <ic-icon [icon]="icAlert" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                                        <span>¡Atención! Pagar antes del día ... </span>
                                    </div>
                                    <br>
                                    <div class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">
                                        <h4>Total a pagar: <ic-icon [icon]="icTotal" class="ltr:mr-1 rtl:ml-1"
                                                inline="true"></ic-icon><strong>{{ order?.total }}</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <button color="accent" mat-raised-button (click)="confirmOrder()">
                    FINALIZAR SOLICITUD
                </button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</div>