<div class="order-request-container mb-16">

    <h1>MI SOLICITUD DE COMPRA</h1>

    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <ng-template matStepperIcon="edit">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>

        <ng-template matStepperIcon="done">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>

        <mat-step [stepControl]="">
            <ng-template matStepLabel>INFORMACIÓN GENERAL DEL PEDIDO</ng-template>
            <div class="mt-6 flex flex-col md:flex-row md:items-start">
                <div class="flex-auto">
                    <div class="card" style="background-color: #E8EAE6">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Datos de envío</h2>
                        </div>

                        <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr" gdColumns.lt-lg="1fr 1fr 1fr"
                            gdColumns.xs="1fr 1fr" gdGap="16px">
                            <img @scaleIn src="../../../../assets/illustrations/location.png"
                                class="avatar w-20 h-20" />
                            <h3 class=" m-0">Dirección de envío</h3>
                            <h3 class=" m-0">Municipio de Cundinamarca</h3>

                            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                <button color="primary" mat-stroked-button matStepperNext>
                                    Cambiar Dirección
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-6" style="background-color: #F5F4F4">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Pedidos por cada productor</h2>
                        </div>
                        <div @stagger class="px-gutter py-4" fxLayoutAlign="">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            PEDIDO
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            NOMBRE DEL PRODUCTOR
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr"
                                        gdColumns.lt-lg="1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
                                        <img @scaleIn src="../../../../assets/illustrations/file-product.png"
                                            class="avatar w-20 h-20" />
                                        <div class="column">
                                            <h3 class=" m-0">Nombre del producto</h3>
                                            <h3 class=" m-0">Cantidad: </h3>
                                            <h3 class=" m-0">Subtotal: $ </h3>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>

                <div class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0"
                    style="background-color: #CFDAC8">
                    <div class="px-6 py-4 border-b">
                        <h2 class="resumen">RESUMEN DEL PEDIDO</h2>
                    </div>
                    <div @stagger class="px-gutter py-4">
                        <div @stagger class="px-gutter py-2 text-center" gdColumns="1fr 1fr" gdColumns.lt-lg="1fr 1fr"
                            gdColumns.xs="1fr 1fr">
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                        </div>
                        <mat-divider></mat-divider>
                        <h2 class="text-center mt-6" style="font-weight: bold;">TOTAL $</h2>
                    </div>
                </div>
            </div>

            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <button color="accent" mat-raised-button matStepperNext>
                    SIGUIENTE
                </button>
            </div>
        </mat-step>


        <mat-step [stepControl]="">
            <ng-template matStepLabel>DEFINIR MEDIOS DE PAGO</ng-template>
            <div class="mt-6 flex flex-col md:flex-row md:items-start">
                
                <div class="flex-auto">
                    <div class="card" style="background-color: #F5F4F4">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Medio de pago por cada productor</h2>
                        </div>
                        <div @stagger class="px-gutter py-4" fxLayoutAlign="">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            PEDIDO
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            NOMBRE DEL PRODUCTOR
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr"
                                        gdColumns.lt-lg="1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
                                        <img @scaleIn src="../../../../assets/illustrations/file-product.png"
                                            class="avatar w-20 h-20" />
                                        <div class="column">
                                            <h3 class=" m-0">Nombre del producto</h3>
                                            <h3 class=" m-0">Cantidad: </h3>
                                            <h3 class=" m-0">Subtotal: $ </h3>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>

                <div class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0"
                    style="background-color: #CFDAC8">
                    <div class="px-6 py-4 border-b">
                        <h2 class="resumen">RESUMEN DEL PEDIDO</h2>
                    </div>
                    <div @stagger class="px-gutter py-4">
                        <div @stagger class="px-gutter py-2 text-center" gdColumns="1fr 1fr" gdColumns.lt-lg="1fr 1fr"
                            gdColumns.xs="1fr 1fr">
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                            <h3>PRODUCTOS</h3>
                            <h3>$ PRECIO</h3>
                        </div>
                        <mat-divider></mat-divider>
                        <h2 class="text-center mt-6" style="font-weight: bold;">TOTAL $</h2>
                    </div>
                </div>
            </div>


            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <button color="accent" mat-raised-button matStepperNext>
                    SIGUIENTE
                </button>
            </div>
        </mat-step>

        <mat-step [stepControl]="">
            <ng-template matStepLabel>REVISAR Y CONFIRMAR PEDIDO</ng-template>
            <div class="mt-6 flex flex-col md:flex-row md:items-start">
                <div class="flex-auto">
                    <div class="card" style="background-color: #E8EAE6">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Información de envío</h2>
                        </div>

                        <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr" gdColumns.lt-lg="1fr 1fr 1fr"
                            gdColumns.xs="1fr 1fr" gdGap="16px">
                            <img @scaleIn src="../../../../assets/illustrations/location.png"
                                class="avatar w-20 h-20" />
                            <h3 class=" m-0">Dirección de envío</h3>
                            <h3 class=" m-0">Municipio de Cundinamarca</h3>

                            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                <button color="primary" mat-stroked-button matStepperNext>
                                    Cambiar Dirección
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-6" style="background-color: #F5F4F4">
                        <div class="px-gutter py-4 border-b">
                            <h2 class="title m-0">Información de tus pedidos</h2>
                        </div>
                        <div @stagger class="px-gutter py-4" fxLayoutAlign="">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            PEDIDO
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            NOMBRE DEL PRODUCTOR
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div @stagger class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr"
                                        gdColumns.lt-lg="1fr 1fr 1fr" gdColumns.xs="1fr 1fr" gdGap="16px">
                                        <img @scaleIn src="../../../../assets/illustrations/file-product.png"
                                            class="avatar w-20 h-20" />
                                        <div class="column">
                                            <h3 class=" m-0">Nombre del producto</h3>
                                            <h3 class=" m-0">Cantidad: </h3>
                                            <h3 class=" m-0">Subtotal: $ </h3>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <button color="accent" mat-raised-button matStepperNext>
                    FINALIZAR PEDIDO
                </button>
            </div>
            
        </mat-step>

    </mat-horizontal-stepper>
</div>