<form (ngSubmit)="save()" [formGroup]="formProduct">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <img *ngIf="defaults.image" [src]="defaults.image" class="avatar mr-5">

        <h2 *ngIf="formProduct.get('name').value" class="headline m-0" fxFlex="auto">
            {{ formProduct.get("name").value }}
        </h2>
        <h2 *ngIf="!formProduct.get('name').value" class="headline m-0" fxFlex="auto">
            Añadir nuevo producto agrícola
        </h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto">
                <mat-label>Nombre del producto</mat-label>
                <input #message minlength="3" maxlength="20" cdkFocusInitial formControlName="name" matInput />
                <mat-hint align="end">{{ message.value.length }} / 20</mat-hint>
                <mat-icon [icIcon]="icNature" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formProduct.controls.name.hasError('required')">
                    El nombre del producto es <strong>obligatorio</strong>
                </mat-error>
                <mat-error *ngIf="formProduct.controls.name.errors?.minlength">
                    El nombre del producto debe tener mínimo <strong>3 caracteres</strong>
                </mat-error>
                <mat-error *ngIf="formProduct.controls.name.errors?.maxlength">
                    El nombre del producto debe tener máximo
                    <strong>20 caracteres</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
                <mat-label>Tipo de producto</mat-label>
                <mat-select formControlName="productType">
                    <mat-option *ngFor="let productType of productTypePrefixOptions" [value]="productType">
                        {{ productType }}
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icToc" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formProduct.controls.productType.hasError('required')">
                    El tipo de producto<strong> es obligatorio</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Selecciona una unidad de medida</mat-label>
                <mat-select formControlName="unit">
                    <mat-option *ngFor="let unit of unitPrefixOptions" [value]="unit">
                        {{ unit }}
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icTimeLine" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formProduct.controls.unit.hasError('required')">
                    La unidad de medida<strong> es obligatoria</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="sm:ml-6 flex-auto">
                <mat-label>Precio por: {{ formProduct.get('unit').value }}</mat-label>
                <input cdkFocusInitial min="0" type="number" formControlName="price" matInput />

                <mat-icon [icIcon]="icAttachMoney" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formProduct.controls.price.hasError('required')">
                    El precio es <strong>obligatorio</strong>
                </mat-error>
                <mat-error *ngIf="formProduct.controls.price.errors?.min">
                    El precio debe ser <strong> mayor que 0</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Selecciona un estado productivo</mat-label>
                <mat-select formControlName="productiveStatus">
                    <mat-option *ngFor="let productiveStatus of statePrefixOptions" [value]="productiveStatus">
                        {{ productiveStatus }}
                    </mat-option>
                </mat-select>
                <mat-icon [icIcon]="icEventAvailable" class="mr-3" matPrefix></mat-icon>
                <mat-error *ngIf="formProduct.controls.productiveStatus.hasError('required')">
                    El estado productivo<strong> es obligatorio</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:ml-6 flex-auto" [ngStyle]="{visibility:formProduct.get('productiveStatus').value === 'Disponible' ? 'hidden': 'visible'}">
                <mat-label>Fecha de disponibilidad</mat-label>
                <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()"
                    [matDatepicker]="formDatepickerRef" formControlName="available_date" matInput readonly />
                <mat-icon matPrefix [icIcon]="icCalendar"></mat-icon>

                <mat-hint>Selecciona una fecha futura</mat-hint>
                <mat-datepicker #formDatepickerRef></mat-datepicker>

                <!--  <mat-error *ngIf="formProduct.controls.available_date.hasError('futureDate')">
                        La fecha de disponibilidad no puede ponerse un día que ya pasó
                    </mat-error> -->
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Selecciona la finca en donde cultivas este producto</mat-label>
            <mat-select formControlName="farm">
                <mat-option *ngFor="let farm of farmPrefixOptions" [value]="farm">
                    {{ farm }}
                </mat-option>
            </mat-select>
            <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
            <mat-error *ngIf="formProduct.controls.farm.hasError('required')">
                La finca<strong> es obligatoria</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
            <mat-label>Descripción</mat-label>
            <textarea formControlName="description" matInput></textarea>
            <mat-icon matPrefix [icIcon]="icDescription"></mat-icon>
        </mat-form-field>

        <div fxLayout="column" fxFlexAlign="center" >
            <h4>Imagen del producto:</h4>
            <img id="imgFoto" width="200" height="200" class="d-block" 
                [src]="defaults.image || imageDefault" />
            <input type="file" id="fileProductImage" accept="image/*" (change)="uploadProductImage($event.target.files)" />
        </div>
        

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn" type="button">
            CANCEL
        </button>
        <button *ngIf="isCreateMode()" [disabled]="formProduct.invalid" color="accent" mat-raised-button type="submit">
            AGREGAR PRODUCTO
        </button>
        <button *ngIf="isUpdateMode()" [disabled]="formProduct.invalid" color="accent" mat-raised-button type="submit">
            EDITAR PRODUCTO
        </button>
    </mat-dialog-actions>
</form>